ion-badge
      {
          font-size: 20px;

        }

        ion-icon
        {
          margin-top: 4px;
          font-size: x-large;
        }

        img{
          margin-top: 4px;
        }


        hr {
          border-top: 1px solid #dedede;
        }

        .ripple-parent {
          position: relative;
          overflow: hidden;
        }