ion-spinner {
    transform: scale(6);
    left: 200px;
    right: 200px;
    top: 300px;
    bottom: 200px;
}

image-cropper
{
    height: 300px;
   
  
}




img{
    height: 20px;
    width: 20px;
       margin-left: 30px;
}


